# Ignore everything
*

# But not these files...
!.gitignore
!.gitattributes
!.gitkeep

!*.cpp
!*.cc
!*.c
!*.h
!*.hpp
!*.java
!*.m
!*.mm

!*.sh
!DEPS
!*.huajiao
!COPYING.LGPLv2.1
!COPYING.LGPLv3

!*.md
!*.txt
!*.json
!*.cmake
!*.patch
!*.diff
!*.ttf

!README.md
!LICENSE

!*.png
!*.pag
!*.jpg
!*.webp
!*.aep
!*.ttc
!*.otf
!*.mp4
!*.mov
!*.aac
!*.mp3
!*.m4a
!*.gif
!*.a
!*.dylib
!*.dll
!*.lib
!*.so
!*.lzma2
!*.wasm
!*.bin
!*.aps
!*.ico
!*.rc
!*.svg

!*.json5
!*.ts
!*.ets
!*.yuv

# ...even if they are in subdirectories
!*/

#
.vscode/
.idea/
third_party/
build/
build-windows-x64/
build_harmony/